@tailwind base;
@tailwind components;
@tailwind utilities;


:root
 {
  --lightgreen: #8abf6a;
  --darkgreen: #253322;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    margin:0;
    padding:0;
   scroll-behavior: smooth; 
   overflow-x:hidden;
}

body {
    margin: 0; /* interferes with 100vw */
}

p { margin-bottom: 1em;
font-family: 'Poppins'
}
body p:last-child { margin-bottom: 0em; }

/* basic suff ends */


h1,h2, h3, li, h4 {
    font-family:'Simonetta', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heroheading {
    font-family: 'Simonetta', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:var(--lightgreen)
}

#testimonialswrap {
  position:relative;
}

@media screen and (min-width:1200px){

  .homegal {
    width:430px;
  }

}



.sideleafimg {
  width:300px;
  position:absolute;
  width:400px;
  top:300px;
  left:0px;
  opacity:0.2
}

.biggerleaf {
  width:300px;
  position:absolute;
height:200px;
  top:300px;
  opacity:0.2;
  right:0px !important;
  top:0px;
  transform:scaleX(-1);
}


.pagewrapper {
  margin-top:200px;
}

.leaf {
  display:none;
}

@media screen and (min-width: 450px )
{
  .leaf {display:block;
  position:absolute;
overflow:hidden}

}

.galthumb {
  display:inline-block ;
  margin: 2px;
   border:4px solid lightgray;
  width:300px;
  height:300px;
}


#contactbg{
 width:100vw;
  height:100%;
  background-image:url('./images/fallingleaves.png');
  background-size:cover;
  background-repeat:repeat;
/* background-position: center 50px; */
  opacity:0.1;
  left:0;
  top:-2;
position:absolute;
}

#contactbg2{
  width:100vw;
   height:100%;
   background-image:url('./images/fallingleaves.png');
   background-size:cover;
   background-repeat:repeat;
 background-position: center 50px;
   opacity:0.1;
   left:0;
   bottom:-600px;
 position:absolute;
 }

 #contact-form {
background-color:white;
   z-index:10;
 }


#leavesbg {
  width:100%;
  height:65%;
  background-image:url('./images/fallingleaves.png');
  background-size:cover, cover;
  background-repeat:repeat-y;
background-position: center 50px;
  opacity:0.1;
z-index:100;
  left:0;
  top:-50px;
position:absolute;
}

h3 {
font-size:24px;
}

.myfooter {
  background-color:#253322;
}

.servwrapper {margin-top:80px}

#mylogo {
  position:absolute;
  top:100px;
}
.collage {
  background-image: url(./images/landscapcollage.jpg);
  background-size:cover;
  position:relative;
}

.grassdivider {
  position:absolute;
  width:100%;
  bottom:0px;
  background-image:url('./images/narrowgrassagain.png');
  background-size:100%;
background-size:cover;
  background-repeat:no-repeat;
  height:200px;
}

#allherocontent {
  top:20%;
}

@media screen and (max-width:450px){
  .grassdivider {height:150px;}
  #allherocontent {
    transform:scale(.90);
  }

}

@media screen and (max-width:350px){
  #allherocontent {
    transform:scale(.70);
  }

  .grassdivider {height:120px;}

}




@media screen and (min-width:480px){
 .grassdivider {
   bottom:-50px;
 background-image:url('./images/image.png')
 }
}


.collage::before {
  content:"";
  background-color:#699C4A;
  width:100%;
  height:100%;
  position:absolute;
  left:-15px;
  top:15px;
  z-index:-1;
}
@media screen and (max-width:450px){
  .collage::before {
    left:-25px;
    top:25px;
  }
}
#ctabutton {
  border-radius: 20px 0px 20px 0px;
  border-style: solid;
  background-color: var(--lightgreen)
}



#ctabutton:hover {
  background-color:#b3e792;
}

.navlink {
  color:var(--lightgreen)
}

nav li {font-family:sans-serif}

#mynavbar {
    z-index:999 !important;
    background-color:#253322;
}

/* pull quote begins */

.pquote {
    margin:20px auto;
    width: 300px;
    font-weight: bold;
    background:url('./images/quotes.png') top left no-repeat, url('./images/closequotes.png') bottom right no-repeat;
    background-size:60px 60px;
   padding:40px 10px;
    display:block;
   
}

blockquote {
    margin: 0 auto; /* gets rid of the default blockquote margin */
}


@media screen and (min-width:1000px){
    .pquote {
        margin:20px 60px;
        width: 300px;
        background-size:60px 60px;
       padding:40px 10px;
        display:inline-block;
    }
}




/* servcards starts */

.cardimg { 
    background:url('./images/imprintedsmol.jpeg');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}

#driveway {
  background:url('./images/driveway.jpg');
  background-size:cover;
    background-position: center;
    background-repeat:no-repeat;

}

#overhaul {
  background:url('./images/nightlandscape.jpeg');
  background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}

#plaster {
  background:url('./images/plaster.jpeg');
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
}

#landscape {
  background:url('./images/patiosmol.jpeg');
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
}

#walls {
  background:url('./images/wallsmall.jpeg');
  background-position: center;
}

#lawns {
  background:url('./images/pavingmob.jpg');
  background-size:cover;
  background-position: 20% 10%;
  background-repeat:no-repeat;
}

#patio {
  background:url('./images/patiosml.jpeg');
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
}

.circle {
    left:50%;
    transform:translateX(-50%);
}









#mybigpiccontainer {
    width:100%;
    height:100vh;
}

#mybigpic {
	position: relative;
    left:0;
    top:0;
	width: 100%;
	height: 100vh;
    z-index:99;
    background-image:linear-gradient(
        to bottom right, 
        rgba(0,0,0,0.4), rgba(0,0,0,0.0)
      ), url(./images/pavingmob.jpg);
    background-size:  cover;
} 


@media screen and (min-width: 450px) {

    #mybigpic {
        background: linear-gradient(
            to right, 
            rgba(0,0,0,0.4), rgba(350,350,350,0.0)
          ), url(./images/pavingcropped.jpg) no-repeat;
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: 100% 100%;
        background-attachment: fixed;
    } 

}



#guarantee {
    background-image: url("./images/guarantee.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height:300px;

  display: flex;
}


.shadedimage {
 
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65)), url("./images/nightlandscape.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:500px;
}
@media screen and (min-width:450px){
  .shadedimage {background-attachment:fixed
  }
}

@media screen and (max-width:450px){
  .shadedimage {
    height:400px
  }
}


/* carousel */

.wrapper_carousel {
    background: var(--primary-grey);
    height: 700px;
    border-radius: 12px;
    /* box-shadow: 2px 2px 12px 2px #a4a4a4; */
  
  }
  
  .carousel-data {
    max-width: 600px;
    min-height: 320px;
    margin: 0 auto;
   
    /*overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;*/
  }
  
  .carousel-item {
    opacity: 0;
    position: absolute;
   
    transition: 500ms ease-in-out;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:gray;
  }
  
  .initial-slide, .active-slide {
    opacity: 1;
    position: relative;
    /* z-index: 991; */
    visibility: visible;
  }
  
  .next, .prev {
    /* z-index: 900; */
  }
  
  .next {
    -webkit-animation: animate-right 500ms;
            animation: animate-right 500ms;
  }
  
  .prev {
    -webkit-animation: animate-left 500ms;
            animation: animate-left 500ms;
  }
  
  @-webkit-keyframes animate-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
  }
  
  @keyframes animate-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
  }
  
  @-webkit-keyframes animate-left {
    100% {
        transform: translateX(-100%);
    }
    0% {
        transform: translateX(0);
    }
  }
  
  @keyframes animate-left {
    100% {
        transform: translateX(-100%);
    }
    0% {
        transform: translateX(0);
    }
  }
  
  .footercontact {
    margin-bottom:18px;
  }
  
  .author-profile {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .author-profile img {
    min-height: 108px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .text_caption {
    font-size: var(--text_lg);
    font-weight: var(--text_weight-medium);
  }
  
  .caption-author {
    font-weight: 700;
    font-size: 14px;
    color:black;
  }
  
  .carousel-indicators {
    margin: 0 auto;
  }
  
  .carousel-indicators button {
    width: 8px;
    height: 8px;
    background: #a4a4a4;
    border-radius: 50%;
    margin-left: 8px;
  }
  
  .carousel-indicators button:first-of-type {
    margin-left: 0;
  }
  
  .carousel-controls button {
    background: var(--yellow);
    padding: 24px;
    font-size: var(--text_md);
    width: 60px;
    max-width: 100%;
    height: 60px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-controls button .fas {
    line-height: 1em;
    font-size: 1.25em;
    pointer-events: none;
  }
  
  button.current-indicator {
    background: #197ABE;
  }
  
  @media only screen and (max-width: 768px) {
  
    .about-tagline {
        font-size: var(--text_display-lg);
    }
  
  }
  
  @media only screen and (max-width: 700px) {
  
    .carousel-data {
        padding: 0 16px;
    }
  
    .text_caption {
        font-size: var(--text_md);
    }
  
  }
  
  @media only screen and (max-width: 640px) {
  
    .about-tagline {
        font-size: var(--text_display-sm);
    }
  
    .wrapper_carousel {
        width: 100vw !important;
        position: relative;
        left: 50%;
        margin-left: -50vw;
        height:auto
    }
  
    .carousel-data {
        padding: 0 24px;
    }
  
    .text_caption {
        font-size: var(--text_default);
        line-height: 1.75em;
    }
  
    .carousel-controls button {
        width: 100%;
    }
  
  }
  
  @media only screen and (max-width: 400px) {
  
    .wrapper_carousel {
        height: auto;
    }
  
    .wrapper_carousel .page_title {
        margin-top: 2rem !important;
    }
  
    .carousel-data {
        margin-bottom: 2rem !important;
    }
  
    .carousel-indicators {
        margin-bottom: 2rem;
    }
  
    .carousel-indicators button {
        width: 40px;
    }
  
  }